*{
	padding: 0px;
	margin: 0px;
}
.clr{
	clear:both;
}
.containerfluid{
	width:100%;
}
.container{
	width: 1350px;
	margin-right: auto;
	margin-left: auto;
}

.row{
	width: 100%
}

.cols-md-1{
	width:8.33%;
	float:left;
}
.cols-md-2{
	width:16.66%;
	float:left;
}
.cols-md-2-5{
	width: 20.8%;
	float: left;
}

.cols-md-3{
	width:25%;
	float:left;
}
.cols-md-3-5{
	width:29.1%;
	float:left;
}
.cols-md-4{
	width:33.33%;
	float:left;
}
.cols-md-5{
	width:41.66%;
	float:left;
}
.cols-md-6{
	width:50%;
	float:left;
}
.cols-md-6-5{
	width:54.1%;
	float:left;
}
.cols-md-7{
	width:58.33%;
	float:left;
}
.cols-md-8{
	width:66.66%;
	float:left;
}
.cols-md-9{
	width:75%;
	float:left;
}
.cols-md-10{
	width:83.33%;
	float:left;
}
.cols-md-11{
	width: 91.66;
	float: left;
}
.cols-md-12{
	width:100%;
	float:left;
}
